/bin/
/build/
/dist/
/develop-eggs/
/parts/
/.installed.cfg
/eggs/
/**/__pycache__/*
/**/**/__pycache__/*
/groundstation.egg-info/
/tests/*
!/tests/.gitkeep
.project
.pydevproject
.idea
.DS_Store
images
